# Node
node_modules/
dist/
build/
.env
.env.local

# Java / Maven
target/
*.jar
*.war
*.class

# IDE
.idea/
.vscode/
*.iml
.metadata/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml

# Backups SQL (van en el .rar, no en git)
sql-init/backups/*.bak

# Entregable de BD (va en el .rar, no en git)
BASE_DE_DATOS.zip
